.wgpt3 {
    padding: 2rem;
}
.wgpt3__section {
    width: 100%;
    min-height: 100%;
    padding: 2rem;
}
.wgpt3__section-head h1 {
    margin: 1.3rem 0;
    color: white;
    font-size: 24px;
    position: relative;
}
.wgpt3__section-head h1::after {
    content: '';
    position: absolute;
    left: 0;
    top: -30%;
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
}
.wgpt3__section-head p {
    margin: 1rem 0;
    font-size: 14px;
    line-height: 25px;
    color: var(--color-text);
}
.wgpt3__section-medium {
    margin: 2rem 0 4rem;
}
.wgpt3__section-medium h1 {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}
.wgpt3__section-medium a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    color: var(--color-subtext);
    transition: all 0.15s ease-in;
}
.wgpt3__section-medium a:hover { 
    color: white;
    border-bottom: 1px solid white;
}

@media screen and (min-width: 900px) {
    .wgpt3 {
        padding: 3rem;
    }
    .wgpt3__section-head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .wgpt3__section-medium {
        margin: 4rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wgpt3__section-medium h1 {
        width: 50%;
    }
    .wgpt3__section-head p {
        margin: 0rem 0;
        width: 60%;
    }
    .wgpt3__section {
        padding: 4rem;
    }
    .wgpt3__section-foot {
        display: flex;
        gap: 3rem;
    }
}
@media screen and (min-width: 1440px) {
    .wgpt3 {
        padding: 4rem;
    }
}